@charset "UTF-8";
body {font-family: 'Montserrat', sans-serif;}
.ft-main-co {color:#005EEB !important;}

/* ★ header */
#headerTop .language {
  position: absolute;
  top: 10px; right: -150px; cursor:pointer;
}
#headerTop .language>div {
  float: left; border: 1px solid #fff;
  width: 30px; height: 30px; line-height: 30px;
  font-size:14px; color:#fff; text-align: center;
}
.lang_active { background: #fff; color:#000 !important; }


/* nav menu */

#headerTop h1.logo {
  float: left; position: absolute;
  left: -200px; top: 10px; width: 115px; height: 35px;
  background-image: url(../images/icon/logo_wh.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999px;
}
  #headerTop, #main_menu {
  width: 1200px; font-size:1rem;
  position: fixed; z-index: 9999;
  left: 50%; transform: translateX(-50%);
  transition:all 0.3s ease-in-out;
}
#headerTop, #main_menu a {transition:all 0.2s ease-in-out;}

.menufixed {background:rgba(0,0,0,0.9);}

#main_menu>ul {width: 1240px; margin: 0 auto; display: flex; justify-content: space-around;}
#main_menu>ul>li {float: left; width: calc(100% / 4); text-align: center; position: relative;}

#main_menu>ul>li a {display: block; line-height: 50px; color:#fff; position: relative;}
#main_menu>ul>li a:hover {color:#005EEB;}

#main_menu>ul>li>a::after {
    content: ""; position: absolute;
    right: 0; bottom: 0; width: 0; height: 2px;
    background: #005EEB; transition: all 0.5s ease;
}

#main_menu>ul>li:hover>a:after {left:0; width: 100%;}

#main_menu .submenu {display:none;}
#main_menu .submenu ul li { text-align: left; padding-left: 70px;}



/* toggleMenu */
#headerTop .toggleMenu {
  width: 50px; height: 50px;
  float: right;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#headerTop .toggleMenu div {
  width: 30px; height: 3px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
}
#headerTop .toggleMenu .bar1 { transform:translateY(10px); }
/* #headerTop .toggleMenu .bar2 {} */
#headerTop .toggleMenu .bar3 { transform:translateY(-10px); }


.main_sliderWrap .bx-wrapper,
.content_sliderWrap .bx-wrapper,
.news_sliderWrap .bx-wrapper {
  box-shadow: none;
  border: 0 none;
  margin-bottom: 0;
}

.main_sliderWrap li {
  background-repeat: no-repeat; background-position: center;
  background-size: cover; height: 1000px;
}

.main_slider li.slider1st { background-image: url(../images/bg/bg_concept1.jpg); }
.main_slider li.slider2st { background-image: url(../images/bg/bg_concept2.jpg); }
.main_slider li.slider3st { background-image: url(../images/bg/bg_concept3.jpg); }
.main_slider li.slider4st { background-image: url(../images/bg/bg_concept4.jpg); }
.main_slider li.slider5st { background-image: url(../images/bg/bg_concept5.jpg); }
.main_slider li.slider6st { background-image: url(../images/bg/bg_concept6.jpg); }

.main_slider li img { width: 100%; }

.main_sliderWrap .main_slider_txt {
  position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
  color:white; text-align: center;
}

.main_sliderWrap .main_slider_txt h2 {font-size: 4rem; font-weight:normal;}
.main_sliderWrap .main_slider_txt h3 {font-size: 1.875rem; font-weight: lighter; margin-bottom: 30px;}
.main_sliderWrap .main_slider_txt p {font-size: 1rem; font-weight: normal; color:#999999; }

.img_controls .controls span {
  display: block; width: 40px; height: 80px;
  background-repeat: no-repeat;
  text-indent: -9999px; cursor: pointer
}
.img_controls .controls .prev_btn {
  background-image: url(../images/icon/prev_btn.png);
  background-size: 100%;
  position: absolute;
  top: 470px;
  left: 170px;
}
.img_controls .controls .next_btn {
  background-image: url(../images/icon/next_btn.png);
  background-size: 100%;
  position: absolute;
  top: 470px;
  right: 170px;
}


/* ★ content */
.contentWrap { width: 1240px; margin: 0 auto; position: relative; margin-bottom: 200px;}
.content .contList {
  width: 1240px; margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.content .contList>li {width: 25%; height: 310px; color:#fff;}
.content .contList>li:nth-child(1) {background: #0D0D0D;}
/* .content .contList>li:nth-child(2) {} */
.content .contList>li:nth-child(3) {width: 50%;}
.content .contList>li:nth-child(4) {background:#FF281B;}
.content .contList>li:nth-child(5) {background:#005EEB;}
.content .contList>li:nth-child(6) {width: 50%;}
.content .contList>li:nth-child(7) {height: 620px; color:#0D0D0D;}
.content .contList>li:nth-child(8) {width:50%; color:#0D0D0D;}
.content .contList>li:nth-child(9) {background:#FF281B;}
.content .contList>li:nth-child(10) {background:#005EEB; position: absolute; left: 310px; bottom: 0;}
.content .contList>li:nth-child(11) {position: absolute; width: 50%; right: 0; bottom: 0; color:#0D0D0D;}


/* content -- cardicon */
.content .cardicon {display:flex; justify-content: center; align-items: center; text-align: center;}
.content .cardicon img {margin-bottom: 5px;}
.content .cardicon p {font-size: 1rem; font-weight: normal; color:#fff;}

/* content -- cardimg */
.content li.cardimg { position: relative; }
.content .cardimg_txt { position: absolute; left: 40px; top: 30px; font-weight: 500; }
.content .cardimg p {font-size: 1rem;}
.content .cardimg h3 {font-size: 1.675rem; font-weight:600;}

.content .cardimg p:after {
  content:""; display: block; margin: 10px 0; width: 50px; height: 1px; background: #0d0d0d;}

.content .cardimg:nth-child(6) p:after {
  content:""; display: block; margin: 10px 0; width: 50px; height: 1px; background: #fff;}



/* content -- li 2th */
.content .video_link { position: relative; }
.content .video_link a { position: absolute; left: 45%; top: 45%; }

/* content -- li 3th bxslider--box_controls*/
.news_wrap { position: relative; }
.news_left { position: absolute; z-index: 1; top: 30px; left: 40px; }
.news_left p {
  width: 65px; height: 35px; line-height: 35px;
  background: #0d0d0d; color:#fff;
  font-size:15px; font-weight: bold; text-align: center;
}

.news_slider li {display:flex}
.news_slider img { float: right; width: 310px; height: 310px; flex:0; }

.news_slider .news_txt {float: left; padding: 80px 40px 30px 40px;}
.news_sliderWrap .news_txt {width: 331px; height: 310px; color:#0D0D0D; position: relative; }
.news_sliderWrap .news_txt h3 {
  text-align: center; margin-bottom: 20px;
  font-size:1.5rem; font-weight: normal;
}
.news_sliderWrap .news_txt p {font-size:1rem; text-align: center;}

.box_controls .controls { position: relative; }
.box_controls .controls span {
  display: block;
  width: 20px; height: 20px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  cursor: pointer;
}
.box_controls .controls .prev_btn {
  background-image: url(../images/icon/box_prev_btn.png);
  background-size: 100%; position: absolute;
  left: 250px; top: -35px; z-index:1;
}
.box_controls .controls .next_btn {
  background-image: url(../images/icon/box_next_btn.png);
  background-size: 100%; position: absolute;
  left: 275px; top: -35px; z-index:1;
}


/* ★ productWrap_slider ---swipe */
.productWrap {position: relative;}
.besttit {text-align: center; font-size:3.125rem; font-weight:500; margin-bottom: 70px;}

.swiperWrap {background: #F6F6F6; margin-bottom: 200px;}
.swiper-container {width:1240px; margin:0 auto;}
.swiper-wrapper {margin: 0 auto; padding:150px 0;}
.swiper-wrapper .swiper-slide {text-align: center;}
.swiper-wrapper .swiper-slide img {border: 1px solid #D1D1D1; width: 99%;} 
.swiper-wrapper .swiper-slide h3 {font-size:1.75rem; font-weight: 500; margin:30px 0}
.swiper-wrapper .swiper-slide p {font-size:0.875rem; color:#777777;}

.productWrap .swiper-button-prev {
  background-image: url(../images/icon/prev_btn_bk.png);
  width: 42px; height: 81px;
  position: absolute;
  left: 120px;
  text-indent: -9999px;
}
.productWrap .swiper-button-next {
  background-image: url(../images/icon/next_btn_bk.png);
  width: 42px; height: 81px;
  position: absolute;
  right: 120px;
  text-indent: -9999px;
}



/* ★ container */
.container {
  height: 1000px;
  background:url(../images/bg/bg_main_labs.jpg) no-repeat center fixed;
  background-size: cover; color:#fff;
  padding: 70px 0; margin-bottom: 150px;
}

.container .section {width: 1240px; margin:0 auto; position: relative; padding: 20px 0;}
.container .section h2 {text-align: center; font-size: 1.75rem; font-weight:500; margin: 20px 0; padding-right: 10px;}

.container .section .tit2 h2:before {
  content:""; display:block; margin:50px auto; margin-top:30px;
  background: #fff; width: 1px; height: 50px;
}

.container .section li + li {margin-left: 20px;}
.container .section li { float: left; width: calc( ( 100% - 60px ) / 3 );}


.container .section li img { border-radius: 500px; transition: 0.3s; cursor: pointer;}
.container .section li img:hover {box-shadow:8px 8px 10px rgba(0,0,0,0.5); transform:translate(-10px, -10px);}

.container .section .card_body {text-align: center; padding: 20px 40px;}
.container .section .card_body h5 {font-size:1.125rem; font-weight:normal; margin-bottom: 20px;}
.container .section .card_body h5:after {
  content:""; display: block; margin: 10px auto;
  width: 100px; height: 1px; background: #fff;
}
.container .section .card_body p {font-size:1.5rem; color:#005EEB; margin-bottom: 20px;}


/* cardWrap */
.cardWrap { width: 1240px; margin: 0 auto; position: relative; }
.product_card {
  width: 1240px; margin: 0 auto;
  display: flex; flex-wrap: wrap; margin-bottom: 155px;
}

.product_body {width: 620px; height: 400px; position: relative; }
.product_body .title {position: absolute; left: 60px; top: 60px; color:#fff;}
.product_body .title h4 {font-size:3rem; font-weight: normal; margin-bottom: 15px;}
.product_body .title h5 {font-size:1.125rem; font-weight: lighter;}
.product_body .title h6 {font-size:0.8rem; font-weight: lighter; margin: 30px 0; color:#ABABAB;}
.product_body .title p {position: absolute; left: 10px; top: 0;}

.product_body .product_link {
  width: 162px; height: 45px; line-height: 45px;
  border: 1px solid #005EEB; position: relative;
}

.product_body .product_link nav {position: absolute; right: 10px; top: 2px;}
.product_link a {color:#005EEB;}


.contact_patra {background: #F6F6F6; text-align: center;}
.contact_patra img {display:block; width: 100%;}



/* footer */
#footer {background: #0d0d0d; padding: 70px 0;}
.footerWrap {width: 1240px; margin: 0 auto; position: relative;}

.footer_top .logo {
  background: url(../images/icon/logo_blue.png);
  background-repeat: no-repeat;
  width: 115px; height: 35px;
  float: left; position: absolute; left: -200px;
  text-indent: -9999px;
}
.fnb ul {margin-bottom: 40px; display:flex;}
.fnb ul li {margin-right: 40px;}
.fnb ul li a {color:#fff;}

.fnb li.snsWrap {position: absolute; right: 0; top: 0;}

.footer_bottom .address {font-size: 0.875rem; color:#777777;}
.footer_bottom .address p {margin-bottom: 10px;}


/* top */
.top {
  position: fixed; background: red; color:#fff;
  font-size:12px; cursor: pointer;
  width: 60px; height: 60px; right: 50px; bottom: 50px;
  border-radius: 50px;
  display: flex; justify-content: center; align-items: center;
  animation: viewTop 1s infinite alternate; transition: 0.3s;
  opacity: 0; z-index:1000;
}
.top.view { opacity: 1; }

@keyframes viewTop {
  to{ transform: translateY(-20px) }
}