@charset "UTF-8";
@font-face{
  font-family: 'OpenSans-Regular';
  src:url(../font-face/OpenSans-Regular.ttf);
}
@font-face{
  font-family: 'OpenSans-Light';
  src:url(../font-face/OpenSans-Light.ttf)
}

html,body{width: 100%;height: 100%;}

body{
  font-size: 13px;
  font-family:OpenSans-Regular,Sans-serif,'돋;'
}

*{padding: 0;margin: 0;box-sizing: border-box}
li{list-style:none}
a:link,a:visited{text-decoration:none;color:#333}
.clearfix:after{content:"";display: block;clear: both;}
a:hover{color:var(--primary-color) !important}
