@charset "UTF-8";

:root{
  --primary-color:#e01010;
  --secondary-color:#330814;
  --third-color:#700f53;
  --font-1st:#333;
  --font-2st:#7d97ad;
}

#headerWrap .bgcolor{
  position: absolute;
  width: 100%;height: 600px;
  background:linear-gradient(160deg,#000000,#e01010);
  transform:skew(0deg,-15deg);
  top:-280px;z-index:-999;
}


#headerWrap .video video{
  object-fit:fill;width: 100%;border-radius:5px;
  box-shadow:10px 10px 25px rgb(46,61,73)
}

.card-view li{
  border-radius: 5px;overflow: hidden;
  box-shadow:10px 10px 25px rgb(46,61,73)
}

.slider .slider-title{font-size:1.1rem;color:var(--font-2st)}
.slider .row{position: relative;}


.banner .row .mask{
  width: 100%;height: 100%;position: absolute;top: 0;left: 0;
}
.banner .row .card-img{overflow: hidden;position: relative;}
.banner .row > div:nth-child(1) .mask,.banner .row > div:nth-child(4) .mask{
  background-color:rgba(2,179,228,0.5);
}
.banner .row > div:nth-child(2) .mask{
  background-color:rgba(2,240,186,0.5);
}
.banner .row > div:nth-child(3) .mask{
  background-color:rgba(169,81,237,0.5);
}

.banner .row .card{
  box-shadow:10px 10px 20px rgba(46,61,73,0.3);
  border:0 none;border-radius:10px !important;overflow: hidden;
}

.adven .adven-title{
  color:var(--primary-color)
}
.adven .icon{
  width: 80px;height: 80px;border-radius:50%;
  box-shadow: 10px 10px 25px rgba(46,61,73,0.3);
}
.adven .title-1st{color:var(--primary-color)}
.adven .title-2st{color:var(--secondary-color)}
.adven .title-3st{color:var(--third-color)}
.adven .img-view{height: 400px;}
.adven .img-view img{position: absolute;box-shadow: 10px 10px 25px rgba(46,61,73,0.3);}

.adven .img-view .img-1st{right:1.25rem;top:1.25rem;max-width:400px}
.adven .img-view .img-2st{left:1.25rem;bottom:0rem;max-width:300px}
.adven .img-view .img-3st{right:1.25rem;top:1.25rem;max-width:400px}
.adven .img-view .img-4st{left:1.25rem;bottom:0rem;max-width:300px}
.adven .img-view .img-5st{right:1.25rem;top:1.25rem;max-width:400px}
.adven .img-view .img-6st{left:1.25rem;bottom:0rem;max-width:300px}

.contact{
  background:url(../images/contact-cover.jpg) no-repeat center;
  background-size:cover
}



/* han */
